<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
</head>

<body>
  <div class="container">
    <h1>Elige uno para conocer más detalles</h1>

    <div class="pokemon-list">
      <% for(let i=0; i < arrayResult.length; i++) { %>
        <a href="./api?name=<%=arrayResult[i].name %>&fromList=true&limit=<%= limit %>&offset=<%= offset %>">
          <%= arrayResult[i].name %>
        </a>
        <% } %>
    </div>

    <button onclick="window.location.href='/';">Volver a buscar</button>
    <button
      onclick="window.location.href='/apiAllPokemon?limit=<%= limit %>&offset=<%= offset + limit %>';">Siguiente</button>
    <% if (offset> 0) { %>
      <button
        onclick="window.location.href='/apiAllPokemon?limit=<%= limit %>&offset=<%= Math.max(0, offset - limit) %>';">Previo</button>
      <% } %>
  </div>
</body>

</html>